#leftbox{
    float: left;
    background-color: rgb(31, 52, 73);
    width: 25%;
    height: 500px;
    text-align: center;
    row-gap: 30px;
    margin: 5px;
    color: aliceblue; 
    
}
#middlebox{
    float: left;
    background-color: rgb(19, 36, 54);
    width: 25%;
    height: 500px;
    text-align: center;
    row-gap: 30px;
    margin: 5px;
    color: aliceblue; 
    
}
#rightbox{
    float: left;
    background-color: rgb(35, 53, 73);
    width: 25%;
    height: 500px;
    text-align: center;
    row-gap: 30px;
    margin: 5px;
    color: aliceblue; 
}
#col1{
    background-color: rgba(8, 247, 195, 0.966);
    height: 60px;
    font-size:xx-large;
    color: aliceblue; 
}
#col{
    background-color: rgb(42, 42, 119);
    height: 60px;
    font-size:xx-large;
    color: aliceblue; 
}
#col2{
    background-color: rgba(8, 247, 195, 0.966);
    height: 60px;
    font-size:xx-large;
    color: aliceblue; 
}
#cost1{
    height: 110px;
    font-size: 50px;
    padding: 20px;
    position: relative;
    top: 30px;  
    color: aliceblue;   
}
#cost2{
    height: 110px;
    font-size: 50px;
    padding: 20px;
    position: relative;
    top: 30px;
    color: aliceblue; 
}
#cost3{
    height: 110px;
    font-size: 50px;
    padding: 20px;
    position: relative;
    top: 30px;
    color: aliceblue; 
}
#month1{
    position: relative;
    bottom: 45px;
    color: gray; 
}
#month2{
    position: relative;
    bottom: 45px;
    color: gray; 
}
#month3{
    position: relative;
    bottom: 45px;
    color: gray; 
}
#domain1{
    height: 40px;
    color: aliceblue;
    position: relative;
    top: 15px;
}
#domain2{
    height: 40px;
    color: aliceblue;
    position: relative;
    top: 15px ;
}
#domain3{
    height: 40px;
    color: aliceblue;
    position: relative;
    top: 15px;
}
#addon{
    height: 40px;
    color: rgb(75, 88, 99);
    position: relative;
    top: 15px; 
}
#year{
    height: 50px;
    color: aliceblue;
    position: relative;
    top: 15px  
}
#buy{
    height: 40px;
    color: aliceblue;
    position: relative;
    top: 15px;
    font-size: xx-large;
   
}